#remainTime {
  position: absolute;
  top: 10;
  right: 0;
  font-weight: bold;
  margin-right: 10px;
  /* background-color: blue; */
}

#Q2result,
#Q1result,
#Q3result,
#Q4result {
  font-weight: bold;
}
